/*
기능 : 외부에서 자주 사용이 되는 스타일시트문서를 따로 작성
작성자 : 홍길동
작성날짜 : 2024.01.24.
적용프로젝트 : 홈페이지 강의용
*/
h4,h3{
    font-family: 돋움체; /*글꼴*/
    color: green; /*글자색*/
    font-size: 27pt; /*글자크기*/
    font font-weight:bolder; /*글자 굵게(강조) bold,bolder, 100.200.... */



}